.navbar-area {
    position: relative !important;
    z-index: 3;

    &.sticky {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        position: fixed !important;
        background-color: var(--clr_white) !important;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    }
    .bg-light {
        background-color: transparent !important;
    }
    .navbar {
        padding: 0;
        position: inherit;
        box-shadow: unset !important;

        .navbar-brand {
            font-size: inherit;
            line-height: 1;
            padding: 0;
            img{
                width: 60px;
            }
        }
        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;
        }
        .navbar-nav {
            margin-left: auto;

            .nav-item {
                position: relative;
                margin: {
                    left: 15px;
                    right: 15px;
                };
                .nav-link {
                    transition: .5s;
                    position: relative;
                    color: var(--clr_black);
                    font: {
                        weight: 500;
                        size: 17px;
                    };
                    padding: {
                        left: 0;
                        right: 0;
                        top: 30px;
                        bottom: 30px;
                    };
                    &:hover, &.active {
                        color: var(--clr_pome);
                    }
                }
                .dropdown-toggle {
                    padding-right: 17px;

                    &::after {
                        display: none;
                    }
                    &::before {
                        position: absolute;
                        content: "\ea4e";
                        line-height: 1;
                        right: -2px;
                        top: 35px;
                        font: {
                            family: remixicon;
                            size: 18px;
                        };
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
                &:first-child {
                    margin-left: 0;
                }
                &:hover, &.active {
                    .nav-link {
                        color: var(--clr_pome);
                    }
                }
                .dropdown-menu {
                    left: 0;
                    top: 75px;
                    padding: 0;
                    opacity: 0;
                    z-index: 99;
                    border: none;
                    width: 250px;
                    margin-top: 0;
                    display: block;
                    border-radius: 5px;
                    position: absolute;
                    visibility: hidden;
                    background: var(--clr_white);
                    transition: all 0.2s ease-in-out;
                    border-left: 2px solid var(--clr_pome);
                    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

                    .nav-item {
                        margin: 0;
                        
                        .nav-link {
                            display: block;
                            padding: 11px 20px;
                            position: relative;
                            color: var(--clr_black);
                            border-bottom: 1px dashed #ffdcd9;
                            font: {
                                weight: 500;
                                size: 16px;
                            };
                            &:hover, &.active {
                                color: var(--clr_pome);
                            }
                            &.dropdown-toggle {
                                &::before {
                                    top: 50%;
                                    right: 15px;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                        .dropdown-menu {
                            top: 0;
                            opacity: 0;
                            left: -100%;
                            margin-top: 0;
                            visibility: hidden;
                            
                            .nav-item {
                                .nav-link {
                                    color: var(--clr_black);

                                    &:hover, &.active {
                                        color: var(--clr_pome);
                                    }
                                }
                                .dropdown-menu {
                                    top: 0;
                                    opacity: 0;
                                    right: 100%;
                                    visibility: hidden;
        
                                    .nav-item {
                                        .nav-link {
                                            color: var(--clr_black);
                                            
                                            &:hover, &.active {
                                                color: var(--clr_pome);
                                            }
                                        }
                                        .dropdown-menu {
                                            top: 0;
                                            opacity: 0;
                                            right: -100%;
                                            visibility: hidden;
                
                                            .nav-item {
                                                .nav-link {
                                                    color: var(--clr_black);
                                                    
                                                    &:hover, &.active {
                                                        color: var(--clr_pome);
                                                    }
                                                }
                                                &.active {
                                                    .nav-link {
                                                        color: var(--clr_pome);
                                                    }
                                                }
                                                &:hover {
                                                    .dropdown-menu {
                                                        opacity: 1;
                                                        visibility: visible;
                                                    }
                                                }
                                            }
                                        }
                                        &.active {
                                            .nav-link {
                                                color: var(--clr_pome);
                                            }
                                        }
                                        &:hover {
                                            .dropdown-menu {
                                                opacity: 1;
                                                visibility: visible;
                                            }
                                        }
                                    }
                                }
                                &.active {
                                    .nav-link {
                                        color: var(--clr_pome);
                                    }
                                }
                                &:hover {
                                    .dropdown-menu {
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                            }
                        }
                        &.active {
                            .nav-link {
                                color: var(--clr_pome);
                            }
                        }
                        &:hover {
                            .dropdown-menu {
                                opacity: 1;
                                margin-top: 0;
                                visibility: visible;
                            }
                        }
                        &:last-child {
                            .nav-link {
                                border-bottom: none !important;
                            }
                        }
                    }
                }
                &:hover {
                    .dropdown-menu {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &.for-responsive {
                display: none;
            }
        }
        .others-option {
            margin-left: 30px;

            .option-item {
                margin-left: 20px;

                .btn {
                    box-shadow: unset !important;
                    padding: {
                        top: 12px;
                        bottom: 12px;
                    };
                }
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .navbar-area {
        background-color: var(--clr_white);
        padding: {
            top: 12px;
            bottom: 12px;
        };
        &.sticky {
            padding: {
                top: 12px;
                bottom: 12px;
            };
        }
        .navbar {
            .navbar-nav {
                display: none;
                max-height: 50vh;
                flex-direction: unset;
                background-color: #f9f9f9;
                overflow: {
                    y: scroll;
                    x: hidden;
                };
                margin: {
                    top: 15px;
                    left: 0 !important;
                    right: 0 !important;
                };
                padding: {
                    top: 18px;
                    left: 18px;
                    right: 18px;
                    bottom: 18px;
                };
                .nav-item {
                    margin: {
                        left: 0;
                        right: 0;
                        top: 18px;
                        bottom: 18px;
                    };
                    .nav-link {
                        font-size: 15px;
                        color: var(--clr_black);
                        padding: {
                            top: 0;
                            bottom: 0;
                            left: 0 !important;
                        };
                        &.active, &:hover {
                            color: var(--clr_pome);
                        }
                    }
                    .dropdown-toggle {
                        &::before {
                            top: 3px;
                        }
                    }
                    &:first-child {
                        margin-top: 0;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:hover, &.active {
                        a {
                            color: var(--clr_pome);
                        }
                    }
                    .dropdown-menu {
                        opacity: 1;
                        width: 100%;
                        padding: 18px;
                        border-top: none;
                        top: 0 !important;
                        box-shadow: unset;
                        position: relative;
                        visibility: visible;
                        margin-top: 10px !important;
                        background-color: var(--clr_white);

                        .nav-item {
                            margin: {
                                left: 0;
                                right: 0;
                                top: 15px;
                                bottom: 15px;
                            };
                            &:first-child {
                                margin-top: 0;
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                            .nav-link {
                                margin: 0;
                                padding: 0;
                                border: none;
                                font-size: 14px;

                                &.dropdown-toggle {
                                    &::before {
                                        right: 0;
                                    }
                                }
                                &.active, &:hover {
                                    color: var(--clr_pome);
                                }
                            }
                            .dropdown-menu {
                                top: 0;
                                left: 0;
                                right: 0;
                                opacity: 1;
                                width: auto;
                                visibility: visible;
                                margin: 10px 0 0 !important;
                                background-color: #f9f9f9;
                            }
                        }
                    }
                }
                &.for-responsive {
                    display: block;
                }
            }
            .others-option {
                margin: {
                    top: 15px;
                    left: 0;
                };
                .option-item {
                    margin-left: 15px;
                }
            }
        }
    }
    .navbar-light {
        .navbar-toggler {
            color: var(--clr_black);
            font-size: inherit;
            box-shadow: unset;
            border: none;
            padding: 0;

            .burger-menu {
                cursor: pointer;

                span {
                    height: 3px;
                    width: 30px;
                    margin: 5px 0;
                    display: block;
                    background: var(--clr_black);
                }
            }
        }
        &.active {
            .navbar-toggler {
                .burger-menu {
                    span {
                        &.top-bar {
                            transform: rotate(45deg);
                            transform-origin: 10% 10%;
                        }
                        &.middle-bar {
                            opacity: 0;
                        }
                        &.bottom-bar {
                            transform: rotate(-45deg);
                            transform-origin: 10% 90%;
                            margin-top: 5px;
                        }
                    }
                }
            }
            .collapse:not(.show) {
                display: block;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .navbar-area {
        background-color: var(--clr_white);
        padding: {
            top: 12px;
            bottom: 12px;
        };
        &.sticky {
            padding: {
                top: 12px;
                bottom: 12px;
            };
        }
        .navbar {
            .navbar-nav {
                display: none;
                max-height: 50vh;
                flex-direction: unset;
                background-color: #f9f9f9;
                overflow: {
                    y: scroll;
                    x: hidden;
                };
                margin: {
                    top: 15px;
                    left: 0 !important;
                    right: 0 !important;
                };
                padding: {
                    top: 18px;
                    left: 18px;
                    right: 18px;
                    bottom: 18px;
                };
                .nav-item {
                    margin: {
                        left: 0;
                        right: 0;
                        top: 18px;
                        bottom: 18px;
                    };
                    .nav-link {
                        font-size: 16px;
                        color: var(--clr_black);
                        padding: {
                            top: 0;
                            bottom: 0;
                            left: 0 !important;
                        };
                        &.active, &:hover {
                            color: var(--clr_pome);
                        }
                    }
                    .dropdown-toggle {
                        &::before {
                            top: 3px;
                        }
                    }
                    &:first-child {
                        margin-top: 0;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:hover, &.active {
                        a {
                            color: var(--clr_pome);
                        }
                    }
                    .dropdown-menu {
                        opacity: 1;
                        width: 100%;
                        padding: 18px;
                        border-top: none;
                        top: 0 !important;
                        box-shadow: unset;
                        position: relative;
                        visibility: visible;
                        margin-top: 10px !important;
                        background-color: var(--clr_white);

                        .nav-item {
                            margin: {
                                left: 0;
                                right: 0;
                                top: 15px;
                                bottom: 15px;
                            };
                            &:first-child {
                                margin-top: 0;
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                            .nav-link {
                                margin: 0;
                                padding: 0;
                                border: none;
                                font-size: 15px;

                                &.dropdown-toggle {
                                    &::before {
                                        right: 0;
                                    }
                                }
                                &.active, &:hover {
                                    color: var(--clr_pome);
                                }
                            }
                            .dropdown-menu {
                                top: 0;
                                left: 0;
                                right: 0;
                                opacity: 1;
                                width: auto;
                                visibility: visible;
                                margin: 10px 0 0 !important;
                                background-color: #f9f9f9;
                            }
                        }
                    }
                }
                &.for-responsive {
                    display: block;
                }
            }
            .others-option {
                margin: {
                    top: 15px;
                    left: 0;
                };
                .option-item {
                    margin-left: 15px;
                }
            }
        }
    }
    .navbar-light {
        .navbar-toggler {
            color: var(--clr_black);
            font-size: inherit;
            box-shadow: unset;
            border: none;
            padding: 0;

            .burger-menu {
                cursor: pointer;

                span {
                    height: 3px;
                    width: 30px;
                    margin: 5px 0;
                    display: block;
                    background: var(--clr_black);
                }
            }
        }
        &.active {
            .navbar-toggler {
                .burger-menu {
                    span {
                        &.top-bar {
                            transform: rotate(45deg);
                            transform-origin: 10% 10%;
                        }
                        &.middle-bar {
                            opacity: 0;
                        }
                        &.bottom-bar {
                            transform: rotate(-45deg);
                            transform-origin: 10% 90%;
                            margin-top: 5px;
                        }
                    }
                }
            }
            .collapse:not(.show) {
                display: block;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .navbar-area {
        .navbar {
            .navbar-nav {
                .nav-item {
                    margin: {
                        left: 9px;
                        right: 9px;
                    };
                    .nav-link {
                        font-size: 16px;

                        &::before {
                            top: 34px;
                        }
                    }
                }
            }
            .others-option {
                margin-left: 20px;

                .option-item {
                    margin-left: 10px;

                    .btn {
                        padding: 8px 18px;
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .navbar-area {
        .navbar {
            .navbar-nav {
                .nav-item {
                    margin: {
                        left: 12px;
                        right: 12px;
                    };
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .navbar-area {
        .container {
            max-width: 1520px;
        }
    }

}