<div
    class="navbar-area"
    [ngClass]="{'sticky': isSticky}"
>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" [class.active]="classApplied">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/img/partner/senecasa-logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" (click)="toggleClass()">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a   href="javascript:void(0)"  class="dropdown-toggle nav-link" >
                            Projets
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/projets/diass-saafi" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Diass Saafi
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/projets/diass-saafi" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Kirène
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/projets/diass-saafi" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Bandia
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/projets/diass-saafi" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Doubour
                                </a>
                            </li>

                             <!--<li class="nav-item">
                                <a routerLink="/projets/diass-saafi" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Thicky
                                </a>
                            </li>

                            <!-- <li class="nav-item">
                                <a routerLink="/projets/diass-saafi" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Raffo
                                </a>
                            </li> -->

                            <li class="nav-item">
                                <a routerLink="/projets/diass-saafi" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Altou welle
                                </a>
                            </li>

                            <!-- <li class="nav-item">
                                <a routerLink="/projets/diass-saafi" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    SEMMKETCK
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/projets/diass-saafi" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Darou salam
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/projets/diass-saafi" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Packy
                                </a>
                            </li> -->

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/about" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            A propos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/blog" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Blog 
                        </a>
                    </li>
                   
                </ul>

                <ul class="navbar-nav for-responsive">
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a   href="javascript:void(0)"  class="dropdown-toggle nav-link" >
                            Projets
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Diass Saafi
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/agents" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Agents
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/about" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            A propos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/blog" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Blog 
                        </a>
                    </li>
                </ul>
                <div class="others-option d-flex align-items-center">
                    <div class="option-item">
                        <a routerLink="/profile-authentication" class="btn style3">
                            Connexion
                        </a>
                    </div>
                    <!-- <div class="option-item">
                        <a routerLink="/profile-authentication" class="btn style1">
                            Sign Up
                        </a>
                    </div> -->
                </div>
            </div>
        </nav>
    </div>
</div>