<!-- Breadcrumb -->
<div class="breadcrumb-wrap bg-f br-1" [style]='"background-image: url("+property?.main_image+");"'>
    <div class="container">
        <div class="breadcrumb-title">
            <h2>Details Villa N°  {{property?.id}}</h2>
            <ul class="breadcrumb-menu list-style">
                <li><a routerLink="/">Accueil </a></li>
                <li>Villa N° {{property?.id}}</li>
               
            </ul>
        </div>
    </div>
</div>

<!-- Property Details -->
<div class="property-details-wrap pt-100 pb-75" *ngIf="property">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="property-details">
                    <div class="row align-items-start">
                        <div class="col-md-8">
                            <div class="property-title">
                                <h2>Villa N° {{property?.id}}</h2>
                                <ul class="property-metainfo list-style">
                                    <li><i class="flaticon-location"></i>Almadies 2 - Keur Massar - Dakar</li>
                                    <li><i class="flaticon-square"></i>{{property?.area}} m<sup>2</sup></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p class="property-price">{{property?.price | number}} <span> FCFA</span></p>
                        </div>
                    </div>
                    <div class="property-img">
                        <owl-carousel-o [options]="heroPropertySlides">
                            <ng-template carouselSlide *ngFor="let img of this.property?.images">
                                <div class="property-card style1">
                                    <div class="property-img">
                                        <img src="{{img?.name}}" alt="Image">
                                    </div>
                                </div>
                            </ng-template>
                            
                        </owl-carousel-o>
                        <!-- <img src="assets/img/property/single-property-1.jpg" alt="Image"> -->
                        <span class="property-status">{{property?.status}}</span>
                    </div>
                    <div class="property-desc">
                        <ngx-view360 class="is-16by9" [options]="options"  />
                        <h4>Description</h4>
                        <p [innerHTML]="property?.description"></p>
                    </div>
                    <div class="property-desc">
                        <h4> Details</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="property-features list-style">
                                    <li>Villa N° : <span> {{property?.id}}</span></li>
                                    <li>Prix : <span>{{property?.price | number}} FCFA</span></li>
                                    <li>Chambres : <span>4</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="property-desc">
                        <h4>Plan</h4>
                        <div class="floor-plan">
                            <img src="assets/img/property/floor-plan.png" alt="Image">
                        </div>
                    </div>
                    <div class="property-desc">
                        <h4>Autres informations</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="property-annuties list-style">
                                    <li><i class="ri-checkbox-multiple-line"></i>Hopital</li>
                                    <li><i class="ri-checkbox-multiple-line"></i>Air de jeux</li>
                                    <li><i class="ri-checkbox-multiple-line"></i>Fitness </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul class="property-annuties list-style">
                                    <li><i class="ri-checkbox-multiple-line"></i>Elementaire </li>
                                    <li><i class="ri-checkbox-multiple-line"></i>Lycée</li>
                                    <li><i class="ri-checkbox-multiple-line"></i>Prescolaire</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul class="property-annuties list-style">
                                    <li><i class="ri-checkbox-multiple-line"></i>Parking</li>
                                    <li><i class="ri-checkbox-multiple-line"></i>Marche</li>
                                    <li><i class="ri-checkbox-multiple-line"></i>Garage</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="property-desc">
                        <h4>Video</h4>
                        <div class="property-video">
                            <img src="assets/img/property/single-property-2.jpg" alt="Image">
                            <button type="button" class="play-video">
                                <span class="play-now icon"><i class="flaticon-play-1"></i>
                                <span class="ripple"></span></span>
                            </button>
                        </div>
                    </div>
                    <!-- <div class="property-desc">
                        <h4>3 Reviews</h4>
                        <div class="property-review comment-item-wrap">
                            <div class="comment-item">
                                <div class="comment-author-img">
                                    <img src="assets/img/clients/client-1.jpg" alt="mage">
                                </div>
                                <div class="comment-author-wrap">
                                    <div class="comment-author-info">
                                        <div class="row align-items-start">
                                            <div class="col-md-9 col-sm-12 col-12 order-md-1 order-sm-1 order-1">
                                                <div class="comment-author-name">
                                                    <h5>Olivic Dsuza</h5> 
                                                    <span class="comment-date">22/04/2023</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-12 col-12 text-md-end order-md-2 order-sm-3 order-2">
                                                <ul class="ratings list-style">
                                                    <li><i class="ri-star-s-fill"></i></li>
                                                    <li><i class="ri-star-s-fill"></i></li>
                                                    <li><i class="ri-star-s-fill"></i></li>
                                                    <li><i class="ri-star-s-fill"></i></li>
                                                    <li><i class="ri-star-half-s-fill"></i></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-2 order-3">
                                                <div class="comment-text">
                                                    <p>Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-item">
                                <div class="comment-author-img">
                                    <img src="assets/img/clients/client-2.jpg" alt="mage">
                                </div>
                                <div class="comment-author-wrap">
                                    <div class="comment-author-info">
                                        <div class="row align-items-start">
                                            <div class="col-md-9 col-sm-12 col-12 order-md-1 order-sm-1 order-1">
                                                <div class="comment-author-name">
                                                    <h5>Josef Haris</h5> 
                                                    <span class="comment-date">15/04/2023</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-12 col-12 text-md-end order-md-2 order-sm-3 order-2">
                                                <ul class="ratings list-style">
                                                    <li><i class="ri-star-s-fill"></i></li>
                                                    <li><i class="ri-star-s-fill"></i></li>
                                                    <li><i class="ri-star-s-fill"></i></li>
                                                    <li><i class="ri-star-s-fill"></i></li>
                                                    <li><i class="ri-star-half-s-fill"></i></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-2 order-3">
                                                <div class="comment-text">
                                                    <p>Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel.
                                                    </p>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="property-img mb-0 mt-25">
                                                                <img src="assets/img/property/property-1.jpg" alt="Image">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="property-img mb-0 mt-25">
                                                                <img src="assets/img/property/property-2.jpg" alt="Image">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-item">
                                <div class="comment-author-img">
                                    <img src="assets/img/clients/client-3.jpg" alt="mage">
                                </div>
                                <div class="comment-author-wrap">
                                    <div class="comment-author-info">
                                        <div class="row align-items-start">
                                            <div class="col-md-9 col-sm-12 col-12 order-md-1 order-sm-1 order-1">
                                                <div class="comment-author-name">
                                                    <h5>Boris jhonson</h5> 
                                                    <span class="comment-date">27/03/2023</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-12 col-12 text-md-end order-md-2 order-sm-3 order-2">
                                                <ul class="ratings list-style">
                                                    <li><i class="ri-star-s-fill"></i></li>
                                                    <li><i class="ri-star-s-fill"></i></li>
                                                    <li><i class="ri-star-s-fill"></i></li>
                                                    <li><i class="ri-star-s-fill"></i></li>
                                                    <li><i class="ri-star-half-s-fill"></i></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-2 order-3">
                                                <div class="comment-text">
                                                    <p>Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="property-desc">
                        <h4>Add Your Review</h4>
                        <form class="review-form">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <p>Your ratings for this property</p>
                                        <div class="star-rating">
                                            <input id="star-5" type="radio" name="rating" value="star-5">
                                            <label for="star-5" title="5 stars">
                                              <i class="active ri-star-fill" aria-hidden="true"></i>
                                            </label>
                                            <input id="star-4" type="radio" name="rating" value="star-4">
                                            <label for="star-4" title="4 stars">
                                              <i class="active ri-star-fill" aria-hidden="true"></i>
                                            </label>
                                            <input id="star-3" type="radio" name="rating" value="star-3">
                                            <label for="star-3" title="3 stars">
                                              <i class="active ri-star-fill" aria-hidden="true"></i>
                                            </label>
                                            <input id="star-2" type="radio" name="rating" value="star-2">
                                            <label for="star-2" title="2 stars">
                                              <i class="active ri-star-fill" aria-hidden="true"></i>
                                            </label>
                                            <input id="star-1" type="radio" name="rating" value="star-1">
                                            <label for="star-1" title="1 star">
                                              <i class="active ri-star-fill" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 text-md-end">
                                    <div class='file form-group'>
                                        <label for='input-file'>Upload Image</label>
                                        <input id='input-file' type='file' />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" placeholder="First name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" placeholder="Last name">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea id="msg" cols="30" rows="6" placeholder="Write A Review"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" class="btn style2">
                                        Submit Review
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div> -->
                    <!-- <div class="property-desc">
                        <h4>Similar Property</h4>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="property-card style2">
                                    <div class="property-img-slider">
                                        <img src="assets/img/property/property-10.jpg" alt="Image">
                                    </div>
                                    <div class="property-info">
                                        <div class="property-status-wrap">
                                            <span class="property-status">For Rent</span>
                                            <p class="property-price">$34,900/<span>month</span></p>
                                        </div>
                                        <h3><a routerLink="/listing-details">Villa In Luis Park</a></h3>
                                        <p><i class="flaticon-location"></i>64, 1st Aveneu, High Steet, USA</p>
                                        <ul class="property-metainfo list-style">
                                            <li><i class="flaticon-double-bed"></i>06</li>
                                            <li><i class="flaticon-bath-tub"></i>04</li>
                                            <li><i class="flaticon-square"></i>3100 sqft</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="property-card style2">
                                    <div class="property-img-slider">
                                        <img src="assets/img/property/property-2.jpg" alt="Image">
                                    </div>
                                    <div class="property-info">
                                        <div class="property-status-wrap">
                                            <span class="property-status">For Sale</span>
                                            <p class="property-price">$21,400</p>
                                        </div>
                                        <h3><a routerLink="/listing-details">Modern Apartment</a></h3>
                                        <p><i class="flaticon-location"></i>123/A, Miles Ave, North Steet, USA</p>
                                        <ul class="property-metainfo list-style">
                                            <li><i class="flaticon-double-bed"></i>05</li>
                                            <li><i class="flaticon-bath-tub"></i>03</li>
                                            <li><i class="flaticon-square"></i>2500 sqft</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-xl-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <h4>Acheter cette maison</h4>
                        <form [formGroup]="userForm" class="filter-widget">
                            <div class="form-group">
                                <input id="firstName" formControlName="first_name" type="text" placeholder="Prénom">
                            </div>
                            <div class="form-group">
                                <input id="lastName" formControlName="last_name" type="text" placeholder="Nom">
                            </div>
                            <div class="form-group">
                                <input id="phone" formControlName="phone" type="number" placeholder="Téléphone">
                            </div>
                            <div class="form-group">
                                <input id="email" formControlName="email" type="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input id="profession" formControlName="profession" type="text" placeholder="Profession">
                            </div>
                            <div class="form-group">
                                <input id="address" formControlName="address" type="text" placeholder="Adresse">
                            </div>
                            
                            <div class="form-group">
                                <button class="btn style2" (click)="addClientAccount()">Envoyer</button>
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-widget">
                        <h4>Autres biens</h4>
                        <div class="property-thumb-item" *ngFor="let prop of properties">
                            <div class="property-thumb-img">
                                <img src="{{prop?.main_image}}" alt="Image">
                            </div>
                            <div class="property-thumb-info">
                                <h6><a routerLink="/listing-details">Villa Numero {{prop?.property_number}}</a></h6>
                                <p>{{prop?.price | number}} <span> FCFA</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <h4>Contacts</h4>
                        <div class="agent-info-box">
                            <div class="agent-name-wrap">
                                <div class="agent-img">
                                    <img src="assets/img/partner/senecasa-logo.png" alt="Image">
                                </div>
                                <div class="agent-name">
                                    <h6><a href="agent-details.html">SARTORISEN CASA</a></h6>
                                    <span>Agence immobilière</span>
                                </div>
                            </div>
                            <ul class="agent-address list-style">
                                <li><i class="ri-map-pin-line"></i>Nord foire azur 1, Villa 59, Dakar -Sénégal</li>
                                <li><i class="ri-phone-line"></i>(+221) 33 868 12 78 / (+221) 78 151 48 48</li>
                                <li><i class="ri-mail-send-line"></i>contact@senecasa.com</li>
                            </ul>
                            <form action="#" class="agent-contact">
                                <div class="form-group">
                                    <input type="text" placeholder="Nom complet">
                                </div>
                                <div class="form-group">
                                    <input type="number" placeholder="Téléphone">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Email ">
                                </div>
                                <div class="form-group">
                                   <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Votre Message"></textarea>
                                </div>
                                <button class="btn style2">Envoyer une demande</button>
                            </form>
                        </div>
                    </div>
                    <!-- <div class="sidebar-widget">
                        <h4>Popular Tags</h4>
                        <ul class="tag-list list-style">
                            <li><a routerLink="/listings-one">Houses</a></li>
                            <li><a routerLink="/listings-one">Rooms</a></li>
                            <li><a routerLink="/listings-one">Garages</a></li>
                            <li><a routerLink="/listings-one">Flat</a></li>
                            <li><a routerLink="/listings-one">Modern</a></li>
                            <li><a routerLink="/listings-one">Luxury</a></li>
                            <li><a routerLink="/listings-one">Property</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Video Popup -->
<div class="video-popup" *ngIf="isOpen">
    <div class="popup-inner">
        <iframe src="https://www.youtube.com/embed/XNQk1qt__Vw" title="Setup and Local Installation - React Nextjs Online Yoga Coaching &amp; Training Courses System" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <button (click)="closePopup()" type="button" class="close-btn">
            <i class="ri-close-line"></i>
        </button>
    </div>
</div>