<!-- Default Section -->
<div
    class="about-wrap style1 ptb-40 bg-seashell"
>
    <div class="container">
       <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="about-content">
                    <div class="content-title style1">
                        <span>SENE-CASA</span>
                        <h2>CONTEXTE</h2>
                        <p>
                            La création de la zone d'habitation <strong class="primary-color"> Diass Saafi </strong> découle d'une analyse approfondie des besoins
croissants de la population de la ville de Diass. Au dernier recensement de l’agence nationale de la
statistique et de la démographie (ANSD) la population s’élève à <strong> 70.000 habitants </strong> avec un taux de
croissance de <strong>2,5 %.</strong> Face à une augmentation démographique croissante et à une demande accrue en
matière de logements, la <strong class="primary-color">  COMMUNE de DIASS </strong> et  <strong class="primary-color"> SARTORISEN CASA </strong> initient un projet
d'extension de la ville de Diass de manière à répondre, à anticiper les défis démographiques.
                        </p>
                        <p>
                            Le contexte sous-jacent est également marqué par une volonté de créer un environnement de vie
<strong>moderne, équilibré et durable</strong>. <strong class="primary-color"> Diass Saafi</strong> se positionne comme une réponse stratégique à la pression
démographique, cherchant à offrir non seulement des logements abordables, mais aussi à établir des
infrastructures complètes qui améliorent la qualité de vie des résidents. En mettant l'accent sur la
durabilité, l'inclusion communautaire et le développement équilibré, le projet vise à façonner un cadre
urbain harmonieux pour les générations actuelles et futures de la communauté de Diass.
                        </p>
                    </div>
                    <ul class="content-feature-list list-style">
                        <li><i class="flaticon-checked"></i> Les Zones Economiques Spéciales Intégrées du Sénégal (ZESI)</li>
                        <li><i class="flaticon-checked"></i>Aéroport International Blaise Diagne (AIBD).</li>
                        <li><i class="flaticon-checked"></i>Port de Ndayane</li>
                        <li><i class="flaticon-checked"></i>Les industries Ciment du Sahel  Kiréne Agro-Business</li>
                        <li><i class="flaticon-checked"></i>A 70 KM de Dakar</li>
                    </ul>
                    <button class="btn style2">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>