@mixin transition($time) {
    -webkit-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}
@mixin transform($tr_amt) {
    -webkit-transform: $tr_amt;
    -moz-transform: $tr_amt;
    transform: $tr_amt;
}
.blog-card {
    margin-bottom: 25px;
    @include transition(0.4s);
    background: var(--clr_white);
    background-color: var(--clr_white);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.07);

    .blog-img {
        overflow: hidden;
        position: relative;

        img {
            @include transition(0.7s);
        }
    }
    .blog-info {
        padding: 25px;

        .blog-metainfo {
            margin-bottom: 8px;

            li {
                display: inline-block;
                position: relative;
                padding-left: 22px;
                margin-right: 18px;

                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: var(--clr_emperor);

                    &:hover {
                        color: var(--clr_pome);
                    }
                }
                i {
                    left: 0;
                    top: 3px;
                    font-size: 14px;
                    position: absolute;
                    color: var(--clr_pome);
                }
            }    
        }
        h3 {
            font-size: 22px;
            line-height: 1.5;
            margin-bottom: 12px;
        }
        p {
            margin: 0 0 15px;
        }
        .link {
            color: var(--clr_pome);
            font-family: var(--secondary_font);

            i {
                margin-left: 4px;
            }
            &:hover {
                color: var(--clr_reso);

                i {
                    margin-left: 8px;
                }
            }
        }
    }
    &:hover {
        box-shadow: 0px 40px 51px -16px rgba(0, 0, 0, 0.1);
        border-color: transparent;

        .blog-img {
            img {
                @include transform(scale(1.08) rotate(3deg));
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .blog-card {
        .blog-info {
            padding: 18px;
    
            .blog-metainfo {
                margin-bottom: 10px;
    
                li {
                    i {
                        top: 2px;
                    }
                }    
            }
            h3 {
                font-size: 18px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .blog-card {
        .blog-info {
            padding: 20px;
    
            .blog-metainfo {
                margin-bottom: 10px;
            }
            h3 {
                font-size: 20px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}