<!-- Breadcrumb -->
<div class="breadcrumb-wrap bg-f br-4" style="background-image: url(assets/img/breadcrumb/breadcrumb-4.jpg);">
    <div class="container">
        <div class="breadcrumb-title">
            <h2>Blog</h2>
            <ul class="breadcrumb-menu list-style">
                <li><a routerLink="/">Accueil</a></li>
                <li>blog</li>
            </ul>
        </div>
    </div>
</div>

 <!-- Blog -->
 <div class="blog-wrap ptb-100">
    <div class="container">
        <div class="row justify-content-center">
           
        </div>
        
    </div>
</div>