<!-- Breadcrumb -->
<div class="breadcrumb-wrap bg-f br-4" style="background-image: url(assets/img/breadcrumb/breadcrumb-4.jpg);">
    <div class="container">
        <div class="breadcrumb-title">
            <h2>Blog Grid</h2>
            <ul class="breadcrumb-menu list-style">
                <li><a routerLink="/">Home</a></li>
                <li>blog</li>
            </ul>
        </div>
    </div>
</div>

 <!-- Blog -->
 <div class="blog-wrap ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6" >
                <div class="blog-card style1">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog-1.jpg" alt="Image">
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-calendar"></i><a routerLink="/blog">12 Apr, 2023</a></li>
                            <li><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>3 Comments</li>
                        </ul>
                        <h3><a routerLink="/blog-details">Global Organization Makes Safety Issue On Property</a></h3>
                        <a routerLink="/blog-details" class="link style2">Read More
                            <i class="flaticon-right-arrow-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6" >
                <div class="blog-card style1">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog-2.jpg" alt="Image">
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-calendar"></i><a routerLink="/blog">21 Mar, 2023</a></li>
                            <li><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>1 Comment</li>
                        </ul>
                        <h3><a routerLink="/blog-details">Be Happy & Safe On Your Family Privacy &amp; Security</a></h3>
                        <a routerLink="/blog-details" class="link style2">Read More
                            <i class="flaticon-right-arrow-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card style1">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog-3.jpg" alt="Image">
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-calendar"></i><a routerLink="/blog">12 Mar, 2023</a></li>
                            <li><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>0 Comment</li>
                        </ul>
                        <h3><a routerLink="/blog-details">5 Tips On Buying Flat With A Tight Budget</a></h3>
                        <a routerLink="/blog-details" class="link style2">Read More
                            <i class="flaticon-right-arrow-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6" >
                <div class="blog-card style1">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog-4.jpg" alt="Image">
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-calendar"></i><a routerLink="/blog">22 Feb, 2023</a></li>
                            <li><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>3 Comments</li>
                        </ul>
                        <h3><a routerLink="/blog-details">How To Change &amp; Shift Your Home At Anytime</a></h3>
                        <a routerLink="/blog-details" class="link style2">Read More
                            <i class="flaticon-right-arrow-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6" >
                <div class="blog-card style1">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog-5.jpg" alt="Image">
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-calendar"></i><a routerLink="/blog">14 Feb, 2023</a></li>
                            <li><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>0 Comment</li>
                        </ul>
                        <h3><a routerLink="/blog-details">Top 5 Luxury Villa With Interior Design in Florida</a></h3>
                        <a routerLink="/blog-details" class="link style2">Read More
                            <i class="flaticon-right-arrow-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card style1">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog-6.jpg" alt="Image">
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-calendar"></i><a routerLink="/blog">22 Jan, 2023</a></li>
                            <li><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>1 Comment</li>
                        </ul>
                        <h3><a routerLink="/blog-details">How To Find A Suitable Real Estate Deal For You</a></h3>
                        <a routerLink="/blog-details" class="link style2">Read More
                            <i class="flaticon-right-arrow-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="page-nav list-style mt-10">
            <li><a routerLink="/blog"><i class="flaticon-back"></i></a></li>
            <li><a class="active" routerLink="/blog">1</a></li>
            <li><a routerLink="/blog">2</a></li>
            <li><a routerLink="/blog">3</a></li>
            <li><a routerLink="/blog"><i class="flaticon-next-1"></i></a></li>
        </ul>
    </div>
</div>