<div class="add-listing-wrap">
    <div class="container-fluid px-0">
        <div class="row gx-0 ">
            <div class="col-md-6">
                <div class="add-listing-bg bg-f"></div>
            </div>
            <div class="col-md-6" >
                <div class="listing-content ptb-100">
                    <img src="assets/img/add-listing-shape.png" alt="Image" class="add-listing-shape">
                    <div class="content-title">
                        <h2>Vivre là où on aime <br> c’est aimer sa vie</h2>
                        <p> </p>
                    </div>
                    <a routerLink="/listings-one" class="btn style4">Explorer les propriétés</a>
                </div>
            </div>
        </div>
    </div>
</div>