<!-- Breadcrumb -->
<div class="breadcrumb-wrap bg-f br-1" style="background-image: url(assets/img/breadcrumb/breadcrumb-1.jpg);">
    <div class="container">
        <div class="breadcrumb-title">
            <h2>Comment ça marche</h2>
            <ul class="breadcrumb-menu list-style">
                <li><a routerLink="/">Accueil </a></li>
                <li>Comment ça marche</li>
            </ul>
        </div>
    </div>
</div>

<!-- How It works-->
<app-how-it-works></app-how-it-works>

<app-partner></app-partner>