<div class="hw-wrap bg-seashell pt-100 pb-75">
    <div class="container">
       <div class="row">
            
            <div
                class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 d-none"
            >
                <div class="section-title style2 text-center mb-40">
                    <span>Comment ça marche</span>
                    <h2>3 étapes pour avoir votre maison</h2>
                </div>
            </div>
       </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="hw-card">
                    <div class="hw-img">
                        <img src="assets/img/how-it-works/find-home.png" alt="Image" class="hw-shape-one">
                    </div>
                    <div class="hw-info">
                        <h3>Choisir</h3>
                        <p>Recherchez parmis les milliers de nos programmes et souscrire à un ou plusieurs </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="hw-card">
                    <div class="hw-img">
                        <img src="assets/img/how-it-works/doc.png" alt="Image" class="hw-shape-one">
                    </div>
                    <div class="hw-info">
                        <h3>Contrat</h3>
                        <p>Lire et accepter les conditions générales de vente ainsi que le contrat </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="hw-card">
                    <div class="hw-img">
                        <img src="assets/img/how-it-works/relator.png" alt="Image" class="hw-shape-one">
                    </div>
                    <div class="hw-info">
                        <h3>Epargner </h3>
                        <p>Epargner comme bon vous le semble. Par mois, par semaine ou occasionnellement </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="hw-card">
                    <div class="hw-img">
                        <img src="assets/img/how-it-works/home-key.png" alt="Image" class="hw-shape-one">
                    </div>
                    <div class="hw-info">
                        <h3>Vos clés</h3>
                        <p>Vos clés n'attendent que vous. Alors il est temps de les récupérées </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>