<!-- Breadcrumb -->
<div class="breadcrumb-wrap bg-f br-2" style="background-image: url(assets/img/breadcrumb/breadcrumb-2.jpg);">
    <div class="container">
        <div class="breadcrumb-title">
            <h2>A propos</h2>
            <ul class="breadcrumb-menu list-style">
                <li><a routerLink="/">Accueil </a></li>
                <li>A propos</li>
            </ul>
        </div>
    </div>
</div>

<!-- About -->
<div class="about-wrap style3 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="section-title style2 text-center mb-40">
                    <span>By SARTORISEN</span>
                    <h2>NATT KER</h2>
                </div>
            </div>
        </div>
        <div class="about-img-wrap">
            <div class="row">
                <div class="col-5">
                    <div class="about-bg-2 bg-f" style="background-image: url(assets/img/about/ndayane.png);"></div>
                </div>
                <div class="col-4">
                    <div class="about-bg-3 bg-f" style="background-image: url(assets/img/about/aibd.png);"></div>
                </div>
                <div class="col-3">
                    <div class="about-bg-4 bg-f" style="background-image: url(assets/img/about/kirene.png);"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-advantage></app-advantage>



<app-partner></app-partner>