<div class="container">
    <div class="search-property style1">
        <form class="property-search-form">
            <div class="form-group">
                <input type="text" placeholder="Location">
            </div>
            <div class="form-group">
                <select>
                    <option value="0">Price Range</option>
                    <option value="1">$1000 - $2000</option>
                    <option value="2">$2000 - $3000</option>
                    <option value="3">$3000 - $4000</option>
                </select>
            </div>
            <div class="form-group">
                <select>
                    <option value="0">Bed &amp; Baths</option>
                    <option value="1">2 Bed 2 Bath</option>
                    <option value="2">3 Bed 2 Bath</option>
                    <option value="3">4 Bed 3 Bath</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn style2">Search Property</button>
            </div>
        </form>
    </div>
</div>