<!-- Default Funfacts -->
<div
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/about'}"
>
    <div class="container">
        <div class="counter-card-wrap style2">
            <div class="counter-card">
                <div class="counter-text">
                    <img src="assets/img/counter-card-shape-1.png" alt="Image" class="counter-card-shape">
                    <h2 class="counter-num">
                        <span class="odometer">12+</span>
                    </h2>
                    <p>ans d'expériences</p>
                </div>
            </div>
            <div class="counter-card">
                <div class="counter-text">
                    <img src="assets/img/counter-card-shape-1.png" alt="Image" class="counter-card-shape">
                    <h2 class="counter-num">
                        <span class="odometer">167+</span>
                    </h2>
                    <p>Villas vendues</p>
                </div>
            </div>
            <div class="counter-card">
                <div class="counter-text">
                    <img src="assets/img/counter-card-shape-1.png" alt="Image" class="counter-card-shape">
                    <h2 class="counter-num">
                        <span class="odometer">239+</span>
                    </h2>
                    <p>Total Constructions</p>
                </div>
            </div>
            <div class="counter-card">
                <div class="counter-text">
                    <img src="assets/img/counter-card-shape-1.png" alt="Image" class="counter-card-shape">
                    <h2 class="counter-num">
                        <span class="odometer">449+</span>
                    </h2>
                    <p>Villas disponibles</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Funfacts section for Home Demo - 2 -->
<div
    class="counter-area bg-seashell pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-2' || router.url === '/about'}"
>
    <div class="container">
        <div class="counter-card-wrap style1">
            <div class="counter-card">
                <span class="counter-icon">
                    <i class="flaticon-quality-control"></i>
                </span>
                <div class="counter-text">
                    <h2 class="counter-num">
                        12+
                    </h2>
                    <p>Years Of Experience</p>
                </div>
            </div>
            <div class="counter-card">
                <span class="counter-icon">
                    <i class="flaticon-apartment"></i>
                </span>
                <div class="counter-text">
                    <h2 class="counter-num">
                        167k+
                    </h2>
                    <p>Apartments Rent</p>
                </div>
            </div>
            <div class="counter-card">
                <span class="counter-icon">
                    <i class="flaticon-office-building"></i>
                </span>
                <div class="counter-text">
                    <h2 class="counter-num">
                        239+
                    </h2>
                    <p>Total Constructions</p>
                </div>
            </div>
            <div class="counter-card">
                <span class="counter-icon">
                    <i class="flaticon-hand-gesture"></i>
                </span>
                <div class="counter-text">
                    <h2 class="counter-num">
                        449+
                    </h2>
                    <p>Apartio Rooms</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Funfacts section for Home Demo - 3 -->
<div
    class="counter-area pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="counter-card-wrap style3">
            <div class="counter-card">
                <span class="counter-icon">
                    <i class="flaticon-quality-control"></i>
                </span>
                <div class="counter-text">
                    <h2 class="counter-num">
                        12+
                    </h2>
                    <p>Years Of Experience</p>
                </div>
            </div>
            <div class="counter-card">
                <span class="counter-icon">
                    <i class="flaticon-apartment"></i>
                </span>
                <div class="counter-text">
                    <h2 class="counter-num">
                        167k+
                    </h2>
                    <p>Apartments Rent</p>
                </div>
            </div>
            <div class="counter-card">
                <span class="counter-icon">
                    <i class="flaticon-office-building"></i>
                </span>
                <div class="counter-text">
                    <h2 class="counter-num">
                        239+
                    </h2>
                    <p>Total Constructions</p>
                </div>
            </div>
            <div class="counter-card">
                <span class="counter-icon">
                    <i class="flaticon-hand-gesture"></i>
                </span>
                <div class="counter-text">
                    <h2 class="counter-num">
                        449+
                    </h2>
                    <p>Apartio Rooms</p>
                </div>
            </div>
        </div>
    </div>
</div>