@import "../../../common/latest-listings/latest-listings.component.scss";
@mixin transform($tr_amt) {
    -webkit-transform: $tr_amt;
    -moz-transform: $tr_amt;
    transform: $tr_amt;
}
%align_center {
    @extend %flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
%flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
%flex_justify_center {
    @extend %flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.hero-wrap {
    .client-feedback {
        ul {
            line-height: 1;
            padding-left: 8px;

            li {
                display: inline-block;

                a {
                    width: 35px;
                    height: 35px;
                    margin-left: -8px;
                    border-radius: 50%;
                    display: inline-block;
                    border: 2px solid var(--clr_white);

                    img {
                        border-radius: 50%;
                    }
                }
            }
        }
        span {
            margin: 10px 0 0;
            display: inline-block;
            color: var(--clr_white);
            font: {
                size: 18px;
                weight: 600;
            };
        }
    }
    .hero-content {
        h1 {
            line-height: 1.3;
            margin-bottom: 18px;
            font: {
                size: 52px;
                weight: 700;
            };
        }
        p {
            margin-bottom: 30px;
        }
    }
    &.style1 {
        padding: 0 0 100px;

        .hero-content {
            top: 40px;
            position: relative;

            .hero-shape-one {
                position: absolute;
                right: 50px;
                top: -20px;
            }
            img {
                margin: 0 0 18px;
                display: block;
            }
            h1 {
                font-size: 55px;
            }
            form {
                position: relative;
                width: 90%;

                input {
                    width: 100%;
                    height: 64px;
                    border: none;
                    border-radius: 10px;
                    padding: 10px 115px 10px 47px;
                    background-color: var(--clr_seashell);
                }
                i {
                    top: 23px;
                    left: 20px;
                    position: absolute;
                    color: var(--clr_reso);
                }
                button {
                    top: 0;
                    right: 0;
                    height: 100%;
                    border: none;
                    transition: .5s;
                    font-weight: 600;
                    position: absolute;
                    padding: 10px 35px;
                    border-radius: 10px;
                    color: var(--clr_white);
                    background-color: var(--clr_pome);

                    &:hover {
                        background-color: var(--clr_reso);
                    }
                }
            }
            .client-feedback {
                position: relative;
                margin-top: 30px;
                left: 0;
                top: 0;

                span {
                    margin-top: 8px;
                    color: var(--clr_pome);
                }
            }
        }
        .hero-img-wrap {
            position: relative;

            .hero-bg-one {
                height: 650px;
                margin-left: auto;
                border-radius: 10px;
                width: calc(100% - 80px);
            }
            .hero-property-slider {
                width: calc(100% - 100px);  
                position: absolute;
                margin-left: auto;
                bottom: 25px;
                left: 0;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .hero-wrap {
        border-top: 1px solid #eeeeee;

        .client-feedback {
            span {
                font-size: 15px;
            }
        }
        .hero-content {
            h1 {
                margin-bottom: 12px;
                font-size: 30px;
            }
            p {
                margin: 0 0 15px;
            }
        }
        &.style1 {
            padding: {
                top: 60px;
                bottom: 60px;
            };
            .hero-content {
                top: 0;
                margin-bottom: 25px;
    
                .hero-shape-one {
                    display: none;
                }
                h1 {
                    font-size: 30px;
                }
                form {
                    width: 100%;
    
                    input {
                        height: 50px;
                        padding: 10px 0 10px 40px;
                    }
                    i {
                        top: 17px;
                        left: 15px;
                    }
                    button {
                        height: auto;
                        margin-top: 12px;
                        position: relative;
                        padding: 12px 25px;
                        border-radius: 3px;
                    }
                }
            }
            .hero-img-wrap {
                .hero-bg-one {
                    height: 450px;
                    width: calc(100% - 55px);
                }
                .hero-property-slider {
                    width: calc(100% - 15px);
                    bottom: 20px;
                    left: 0;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .hero-wrap {
        border-top: 1px solid #eeeeee;

        .hero-content {
            h1 {
                margin-bottom: 15px;
                font-size: 43px;
            }
            p {
                margin-bottom: 15px;
            }
        }
        &.style1 {
            padding: {
                top: 80px;
                bottom: 80px;
            };
            .hero-content {
                top: 0;
                margin-bottom: 25px;

                h1 {
                    font-size: 43px;
                }
                form {
                    width: 100%;
    
                    input {
                        height: 55px;
                    }
                    i {
                        top: 17px;
                    }
                }
            }
            .hero-img-wrap {
                .hero-bg-one {
                    height: 600px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .hero-wrap {
        .hero-content {
            h1 {
                font-size: 44px;
            }
        }
        &.style1 {
            .hero-content {
                h1 {
                    font-size: 44px;
                }
                form {
                    width: 100%;
                }
            }
            .hero-img-wrap {
                .hero-bg-one {
                    height: 600px;
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .hero-wrap {
        .container {
            max-width: 1520px;
        }
    }

}