<!-- Default FAQ -->
<div
    class="faq-wrap style2 ptb-100 bg-seashell"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}"
>
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 col-md-12 faq-title">
                <h2>Découvrez une nouvelle façon de vivre</h2>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="faq-content">
                    <div class="content-title style1">
                        <span>Gagnez du temps et achetez facilement votre bien avec la commission la plus basse du marché immobilier.</span>
                        <h2>Faire une enquête</h2>
                    </div>
                    <div class="contact-form">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nom et prenom">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Téléphone">
                            </div>
                            <div class="form-group">
                                <textarea name="" id="" placeholder="Votre message" rows="10" class="form-control"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FAQ Section for Home Demo - 2 -->
<div
    class="faq-wrap style1 ptb-100 bg-seashell d-none"
    [ngClass]="{'d-block': router.url === '/index-2'}"
>
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="faq-img-wrap">
                    <img src="assets/img/faq-img-1.png" alt="Image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="faq-content">
                    <div class="content-title style1">
                        <span>Have Questions?</span>
                        <h2>Frequently Asked Questions</h2>
                    </div>
                    <mdb-accordion>
                        <mdb-accordion-item>
                            <ng-template mdbAccordionItemHeader>What Is The Price range Of Your Properties?</ng-template>
                            <ng-template mdbAccordionItemBody>
                                <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit. Quisquam sit laborum est aliquam. Dicta fuga soluta eius exercitationem porro modi. Exercitationem eveniet aliquam repudiandae non, sequi mollitia at iusto.</p>
                            </ng-template>
                        </mdb-accordion-item>
                        <mdb-accordion-item>
                            <ng-template mdbAccordionItemHeader>How Long Will It take To Process My Application?</ng-template>
                            <ng-template mdbAccordionItemBody>
                                <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit. Quisquam sit laborum est aliquam. Dicta fuga soluta eius exercitationem porro modi. Exercitationem eveniet aliquam repudiandae non, sequi mollitia at iusto.</p>
                            </ng-template>
                        </mdb-accordion-item>
                        <mdb-accordion-item>
                            <ng-template mdbAccordionItemHeader>What If I Need To Move Out Before My Lease Exercise?</ng-template>
                                <ng-template mdbAccordionItemBody>
                                    <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit. Quisquam sit laborum est aliquam. Dicta fuga soluta eius exercitationem porro modi. Exercitationem eveniet aliquam repudiandae non, sequi mollitia at iusto.</p>
                            </ng-template>
                        </mdb-accordion-item>
                        <mdb-accordion-item>
                            <ng-template mdbAccordionItemHeader>What Our IT Consultants Suggest On New Topics?</ng-template>
                                <ng-template mdbAccordionItemBody>
                                    <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit. Quisquam sit laborum est aliquam. Dicta fuga soluta eius exercitationem porro modi. Exercitationem eveniet aliquam repudiandae non, sequi mollitia at iusto.</p>
                            </ng-template>
                        </mdb-accordion-item>
                    </mdb-accordion>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FAQ Section for Home Demo - 3 -->
<div
    class="faq-wrap style3 ptb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2">
                <div class="section-title style2 text-center mb-40">
                    <span>HAVE QUESTIONS?</span>
                    <h2>Frequently Asked Questions</h2>
                </div>
            </div>
        </div>
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="faq-img-wrap">
                    <img src="assets/img/faq-img-3.png" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faq-content">
                    <mdb-accordion>
                        <mdb-accordion-item>
                            <ng-template mdbAccordionItemHeader>What Is The Price range Of Your Properties?</ng-template>
                            <ng-template mdbAccordionItemBody>
                                <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit. Quisquam sit laborum est aliquam. Dicta fuga soluta eius exercitationem porro modi. Exercitationem eveniet aliquam repudiandae non, sequi mollitia at iusto.</p>
                            </ng-template>
                        </mdb-accordion-item>
                        <mdb-accordion-item>
                            <ng-template mdbAccordionItemHeader>How Long Will It take To Process My Application?</ng-template>
                            <ng-template mdbAccordionItemBody>
                                <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit. Quisquam sit laborum est aliquam. Dicta fuga soluta eius exercitationem porro modi. Exercitationem eveniet aliquam repudiandae non, sequi mollitia at iusto.</p>
                            </ng-template>
                        </mdb-accordion-item>
                        <mdb-accordion-item>
                            <ng-template mdbAccordionItemHeader>What If I Need To Move Out Before My Lease Exercise?</ng-template>
                                <ng-template mdbAccordionItemBody>
                                    <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit. Quisquam sit laborum est aliquam. Dicta fuga soluta eius exercitationem porro modi. Exercitationem eveniet aliquam repudiandae non, sequi mollitia at iusto.</p>
                            </ng-template>
                        </mdb-accordion-item>
                        <mdb-accordion-item>
                            <ng-template mdbAccordionItemHeader>What Our IT Consultants Suggest On New Topics?</ng-template>
                                <ng-template mdbAccordionItemBody>
                                    <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit. Quisquam sit laborum est aliquam. Dicta fuga soluta eius exercitationem porro modi. Exercitationem eveniet aliquam repudiandae non, sequi mollitia at iusto.</p>
                            </ng-template>
                        </mdb-accordion-item>
                    </mdb-accordion>
                </div>
            </div>
        </div>
    </div>
</div>