<!-- Default Section -->
<div
    class="property-wrap ptb-100"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}"
>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="section-title style1 text-center mb-40">
                    <h2>Nos derniers programmes</h2>
                    <p>Nous vous proposons des programmes adaptes a vos besoins. Payez a votre allure et recuperer votre villa des 40% </p>
                </div>
            </div>
        </div>
        <div class="property-slider-two">
            <owl-carousel-o [options]="propertySlidesTwo">
                <ng-template carouselSlide *ngFor="let program of programs">
                    <div class="property-card style4">
                        <div class="property-img">
                            <img src="{{program?.image}}" alt="Image">
                            <!-- <span class="property-status">For Rent</span> -->
                        </div>
                        <div class="property-info">
                            <h3><a routerLink="/listing-details">{{program?.name}}</a></h3>
                            <p><i class="flaticon-location"></i>{{program?.location}}, {{program?.municipality}} - {{program?.department}}</p>
                            <ul class="property-metainfo list-style">
                                <li><i class="flaticon-double-bed"></i>{{program?.bed}}</li>
                                <li><i class="flaticon-bath-tub"></i>{{program?.bath}}</li>
                                <li><i class="flaticon-square"></i>{{program?.area}}</li>
                            </ul>
                            <p class="property-price">{{program?.price}}/<span>mois</span></p>
                        </div>
                    </div>
                </ng-template>
                
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- Section for Home Demo - 2 -->
<div
    class="property-wrap pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-2'}"
>
    <div class="container">
        <div class="row section-title style1 mb-40  align-items-end">
            <div class="col-md-8">
                <span>Our Properties</span>
                <h2>Latest House Listings</h2>
            </div>
            <div class="col-md-4 text-md-end sm-none">
                <a routerLink="/listings-one" class="btn style1">View All Listings</a>
            </div>
        </div>
        <div class="property-tabs">
            <mdb-tabs>
                <mdb-tab title="Residential">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-10.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Rent</span>
                                        <p class="property-price">$34,900/<span>month</span></p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Villa In Luis Park</a></h3>
                                    <p><i class="flaticon-location"></i>64, 1st Aveneu, High Steet, USA</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>06</li>
                                        <li><i class="flaticon-bath-tub"></i>04</li>
                                        <li><i class="flaticon-square"></i>3100 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-2.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Sale</span>
                                        <p class="property-price">$21,400</p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Modern Apartment</a></h3>
                                    <p><i class="flaticon-location"></i>123/A, Miles Ave, North Steet, USA</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>05</li>
                                        <li><i class="flaticon-bath-tub"></i>03</li>
                                        <li><i class="flaticon-square"></i>2500 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-3.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Rent</span>
                                        <p class="property-price">$44,900/<span>month</span></p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Apartment For Rent</a></h3>
                                    <p><i class="flaticon-location"></i>732 Burwell Heights Road, Houston</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>07</li>
                                        <li><i class="flaticon-bath-tub"></i>04</li>
                                        <li><i class="flaticon-square"></i>4110 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-4.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Rent</span>
                                        <p class="property-price">$25,900/<span>month</span></p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Dreamy Penthouse</a></h3>
                                    <p><i class="flaticon-location"></i>4890 Grey Fox Fam Road, Houston</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>05</li>
                                        <li><i class="flaticon-bath-tub"></i>02</li>
                                        <li><i class="flaticon-square"></i>2210 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-5.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Rent</span>
                                        <p class="property-price">$34,900/<span>month</span></p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Luxury Apartment</a></h3>
                                    <p><i class="flaticon-location"></i>2665 Blair Court, Dalton, Missouri</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>04</li>
                                        <li><i class="flaticon-bath-tub"></i>02</li>
                                        <li><i class="flaticon-square"></i>2800 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-6.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Sale</span>
                                        <p class="property-price">$44,000</p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Flat For Sale</a></h3>
                                    <p><i class="flaticon-location"></i>1849 Woodbridge Lane, Michigan</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>06</li>
                                        <li><i class="flaticon-bath-tub"></i>05</li>
                                        <li><i class="flaticon-square"></i>4000 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="Commercial">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-1.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Rent</span>
                                        <p class="property-price">$34,900/<span>month</span></p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Villa In Luis Park</a></h3>
                                    <p><i class="flaticon-location"></i>64, 1st Aveneu, High Steet, USA</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>06</li>
                                        <li><i class="flaticon-bath-tub"></i>04</li>
                                        <li><i class="flaticon-square"></i>3100 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-7.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Sale</span>
                                        <p class="property-price">$21,400</p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Modern Apartment</a></h3>
                                    <p><i class="flaticon-location"></i>123/A, Miles Ave, North Steet, USA</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>05</li>
                                        <li><i class="flaticon-bath-tub"></i>03</li>
                                        <li><i class="flaticon-square"></i>2500 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-9.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Rent</span>
                                        <p class="property-price">$44,900/<span>month</span></p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Apartment For Rent</a></h3>
                                    <p><i class="flaticon-location"></i>732 Burwell Heights Road, Houston</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>07</li>
                                        <li><i class="flaticon-bath-tub"></i>04</li>
                                        <li><i class="flaticon-square"></i>4110 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-13.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Rent</span>
                                        <p class="property-price">$25,900/<span>month</span></p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Dreamy Penthouse</a></h3>
                                    <p><i class="flaticon-location"></i>4890 Grey Fox Fam Road, Houston</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>05</li>
                                        <li><i class="flaticon-bath-tub"></i>02</li>
                                        <li><i class="flaticon-square"></i>2210 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-17.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Rent</span>
                                        <p class="property-price">$34,900/<span>month</span></p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Luxury Apartment</a></h3>
                                    <p><i class="flaticon-location"></i>2665 Blair Court, Dalton, Missouri</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>04</li>
                                        <li><i class="flaticon-bath-tub"></i>02</li>
                                        <li><i class="flaticon-square"></i>2800 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-19.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Sale</span>
                                        <p class="property-price">$44,000</p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Flat For Sale</a></h3>
                                    <p><i class="flaticon-location"></i>1849 Woodbridge Lane, Michigan</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>06</li>
                                        <li><i class="flaticon-bath-tub"></i>05</li>
                                        <li><i class="flaticon-square"></i>4000 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="Apartments">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-10.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Rent</span>
                                        <p class="property-price">$34,900/<span>month</span></p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Villa In Luis Park</a></h3>
                                    <p><i class="flaticon-location"></i>64, 1st Aveneu, High Steet, USA</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>06</li>
                                        <li><i class="flaticon-bath-tub"></i>04</li>
                                        <li><i class="flaticon-square"></i>3100 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-8.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Sale</span>
                                        <p class="property-price">$21,400</p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Modern Apartment</a></h3>
                                    <p><i class="flaticon-location"></i>123/A, Miles Ave, North Steet, USA</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>05</li>
                                        <li><i class="flaticon-bath-tub"></i>03</li>
                                        <li><i class="flaticon-square"></i>2500 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-17.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Rent</span>
                                        <p class="property-price">$44,900/<span>month</span></p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Apartment For Rent</a></h3>
                                    <p><i class="flaticon-location"></i>732 Burwell Heights Road, Houston</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>07</li>
                                        <li><i class="flaticon-bath-tub"></i>04</li>
                                        <li><i class="flaticon-square"></i>4110 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-12.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Rent</span>
                                        <p class="property-price">$25,900/<span>month</span></p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Dreamy Penthouse</a></h3>
                                    <p><i class="flaticon-location"></i>4890 Grey Fox Fam Road, Houston</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>05</li>
                                        <li><i class="flaticon-bath-tub"></i>02</li>
                                        <li><i class="flaticon-square"></i>2210 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-18.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Rent</span>
                                        <p class="property-price">$34,900/<span>month</span></p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Luxury Apartment</a></h3>
                                    <p><i class="flaticon-location"></i>2665 Blair Court, Dalton, Missouri</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>04</li>
                                        <li><i class="flaticon-bath-tub"></i>02</li>
                                        <li><i class="flaticon-square"></i>2800 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="property-card style2">
                                <div class="property-img-slider">
                                    <img src="assets/img/property/property-23.jpg" alt="Image">
                                </div>
                                <div class="property-info">
                                    <div class="property-status-wrap">
                                        <span class="property-status">For Sale</span>
                                        <p class="property-price">$44,000</p>
                                    </div>
                                    <h3><a routerLink="/listing-details">Flat For Sale</a></h3>
                                    <p><i class="flaticon-location"></i>1849 Woodbridge Lane, Michigan</p>
                                    <ul class="property-metainfo list-style">
                                        <li><i class="flaticon-double-bed"></i>06</li>
                                        <li><i class="flaticon-bath-tub"></i>05</li>
                                        <li><i class="flaticon-square"></i>4000 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
            </mdb-tabs>
        </div>
    </div>
</div>

<!-- Section for Home Demo - 3 -->
<div
    class="property-wrap ptb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="section-title style2 text-center mb-40">
                    <span>OUR PROPERTIES</span>
                    <h2>Latest House Listings</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="property-slider-three">
        <owl-carousel-o [options]="propertySlidesThree">
            <ng-template carouselSlide>
                <div class="property-card style5">
                    <div class="property-img">
                        <img src="assets/img/property/property-10.jpg" alt="Image">
                    </div>
                    <div class="property-info">
                        <div class="property-status-wrap">
                            <span class="property-status">For Rent</span>
                            <p class="property-price">$34,900/<span>month</span></p>
                        </div>
                        <h3><a routerLink="/listing-details">Villa In Luis Park</a></h3>
                        <p><i class="flaticon-location"></i>64, 1st Aveneu, High Steet, USA</p>
                        <ul class="property-metainfo list-style">
                            <li><i class="flaticon-double-bed"></i>06</li>
                            <li><i class="flaticon-bath-tub"></i>04</li>
                            <li><i class="flaticon-square"></i>3100 sqft</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="property-card style5">
                    <div class="property-img">
                        <img src="assets/img/property/property-2.jpg" alt="Image">
                    </div>
                    <div class="property-info">
                        <div class="property-status-wrap">
                            <span class="property-status">For Sale</span>
                            <p class="property-price">$21,400</p>
                        </div>
                        <h3><a routerLink="/listing-details">Modern Apartment</a></h3>
                        <p><i class="flaticon-location"></i>123/A, Miles Ave, North Steet, USA</p>
                        <ul class="property-metainfo list-style">
                            <li><i class="flaticon-double-bed"></i>05</li>
                            <li><i class="flaticon-bath-tub"></i>03</li>
                            <li><i class="flaticon-square"></i>2500 sqft</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="property-card style5">
                    <div class="property-img">
                        <img src="assets/img/property/property-3.jpg" alt="Image">
                    </div>
                    <div class="property-info">
                        <div class="property-status-wrap">
                            <span class="property-status">For Rent</span>
                            <p class="property-price">$44,900/<span>month</span></p>
                        </div>
                        <h3><a routerLink="/listing-details">Apartment For Rent</a></h3>
                        <p><i class="flaticon-location"></i>732 Burwell Heights Road, Houston</p>
                        <ul class="property-metainfo list-style">
                            <li><i class="flaticon-double-bed"></i>07</li>
                            <li><i class="flaticon-bath-tub"></i>04</li>
                            <li><i class="flaticon-square"></i>4110 sqft</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="property-card style5">
                    <div class="property-img">
                        <img src="assets/img/property/property-4.jpg" alt="Image">
                    </div>
                    <div class="property-info">
                        <div class="property-status-wrap">
                            <span class="property-status">For Rent</span>
                            <p class="property-price">$25,900/<span>month</span></p>
                        </div>
                        <h3><a routerLink="/listing-details">Dreamy Penthouse</a></h3>
                        <p><i class="flaticon-location"></i>4890 Grey Fox Fam Road, Houston</p>
                        <ul class="property-metainfo list-style">
                            <li><i class="flaticon-double-bed"></i>05</li>
                            <li><i class="flaticon-bath-tub"></i>02</li>
                            <li><i class="flaticon-square"></i>2210 sqft</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="property-card style5">
                    <div class="property-img">
                        <img src="assets/img/property/property-5.jpg" alt="Image">
                    </div>
                    <div class="property-info">
                        <div class="property-status-wrap">
                            <span class="property-status">For Rent</span>
                            <p class="property-price">$34,900/<span>month</span></p>
                        </div>
                        <h3><a routerLink="/listing-details">Luxury Apartment</a></h3>
                        <p><i class="flaticon-location"></i>2665 Blair Court, Dalton, Missouri</p>
                        <ul class="property-metainfo list-style">
                            <li><i class="flaticon-double-bed"></i>04</li>
                            <li><i class="flaticon-bath-tub"></i>02</li>
                            <li><i class="flaticon-square"></i>2800 sqft</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="property-card style5">
                    <div class="property-img">
                        <img src="assets/img/property/property-6.jpg" alt="Image">
                    </div>
                    <div class="property-info">
                        <div class="property-status-wrap">
                            <span class="property-status">For Sale</span>
                            <p class="property-price">$44,000</p>
                        </div>
                        <h3><a routerLink="/listing-details">Flat For Sale</a></h3>
                        <p><i class="flaticon-location"></i>1849 Woodbridge Lane, Michigan</p>
                        <ul class="property-metainfo list-style">
                            <li><i class="flaticon-double-bed"></i>06</li>
                            <li><i class="flaticon-bath-tub"></i>05</li>
                            <li><i class="flaticon-square"></i>4000 sqft</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>