<div class="property-slider-wrap pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="section-title style1 text-center mb-40">
                    <h2>Nouveaux programmes</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="property-card style3">
                    <div class="property-img">
                        <img src="assets/img/property/property-26.jpg" alt="Image">
                        <span class="property-status">A vendre</span>
                        <span class="property-condo">Neuf</span>
                    </div>
                    <div class="property-info">
                        <div class="property-status-wrap">
                            <span class="property-state"><i class="flaticon-home"></i>Villa</span>
                            <p class="property-price">50.000 FCFA/<span>mois</span></p>
                        </div>
                        <h3><a routerLink="/listing-details">Programmes villes neuves</a></h3>
                        <p><i class="flaticon-location"></i>Almadies 2, Keur Massar - Rufisque</p>
                        <ul class="property-metainfo list-style">
                            <li><i class="flaticon-double-bed"></i>04</li>
                            <li><i class="flaticon-bath-tub"></i>04</li>
                            <li><i class="flaticon-square"></i>1400 m<sup>2</sup></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="property-card style3">
                    <div class="property-img">
                        <img src="assets/img/property/property-27.jpg" alt="Image">
                        <span class="property-status">A vendre</span>
                        <span class="property-condo">Neuf</span>
                    </div>
                    <div class="property-info">
                        <div class="property-status-wrap">
                            <span class="property-state"><i class="flaticon-home"></i>Maison</span>
                            <p class="property-price">30.000 FCFA/<span>mois</span></p>
                        </div>
                        <h3><a routerLink="/listing-details">Programmes villes neuves</a></h3>
                        <p><i class="flaticon-location"></i>Almadies 2, Keur Massar - Rufisque</p>
                        <ul class="property-metainfo list-style">
                            <li><i class="flaticon-double-bed"></i>04</li>
                            <li><i class="flaticon-bath-tub"></i>04</li>
                            <li><i class="flaticon-square"></i>1400 m<sup>2</sup></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="property-card style3">
                    <div class="property-img">
                        <img src="assets/img/property/property-28.jpg" alt="Image">
                        <span class="property-status">A vendre</span>
                        <span class="property-condo">Neuf</span>
                    </div>
                    <div class="property-info">
                        <div class="property-status-wrap">
                            <span class="property-state"><i class="flaticon-home"></i>Villa</span>
                            <p class="property-price">54.000 FCFA/<span>mois</span></p>
                        </div>
                        <h3><a routerLink="/listing-details">Programmes villes neuves</a></h3>
                        <p><i class="flaticon-location"></i>Almadies 2, Keur Massar - Rufisque</p>
                        <ul class="property-metainfo list-style">
                            <li><i class="flaticon-double-bed"></i>04</li>
                            <li><i class="flaticon-bath-tub"></i>04</li>
                            <li><i class="flaticon-square"></i>1400 m<sup>2</sup></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="property-card style3">
                    <div class="property-img">
                        <img src="assets/img/property/property-25.jpg" alt="Image">
                        <span class="property-status">A vendre</span>
                        <span class="property-condo">Neuf</span>
                    </div>
                    <div class="property-info">
                        <div class="property-status-wrap">
                            <span class="property-state"><i class="flaticon-home"></i>Maison</span>
                            <p class="property-price">38.000 FCFA/<span>mois</span></p>
                        </div>
                        <h3><a routerLink="/listing-details">Programmes villes neuves</a></h3>
                        <p><i class="flaticon-location"></i>Almadies 2, Keur Massar - Rufisque</p>
                        <ul class="property-metainfo list-style">
                            <li><i class="flaticon-double-bed"></i>04</li>
                            <li><i class="flaticon-bath-tub"></i>04</li>
                            <li><i class="flaticon-square"></i>1400 m<sup>2</sup></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="property-card style3">
                    <div class="property-img">
                        <img src="assets/img/property/property-1.jpg" alt="Image">
                        <span class="property-status">A vendre</span>
                        <span class="property-condo">Neuf</span>
                    </div>
                    <div class="property-info">
                        <div class="property-status-wrap">
                            <span class="property-state"><i class="flaticon-home"></i>Villa</span>
                            <p class="property-price">100.000 FCFA/<span>mois</span></p>
                        </div>
                        <h3><a routerLink="/listing-details">Programmes villes neuves</a></h3>
                        <p><i class="flaticon-location"></i>Almadies 2, Keur Massar - Rufisque</p>
                        <ul class="property-metainfo list-style">
                            <li><i class="flaticon-double-bed"></i>04</li>
                            <li><i class="flaticon-bath-tub"></i>04</li>
                            <li><i class="flaticon-square"></i>1400 m<sup>2</sup></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="property-card style3">
                    <div class="property-img">
                        <img src="assets/img/property/property-2.jpg" alt="Image">
                        <span class="property-status">A vendre</span>
                        <span class="property-condo">Neuf</span>
                    </div>
                    <div class="property-info">
                        <div class="property-status-wrap">
                            <span class="property-state"><i class="flaticon-home"></i>Maison</span>
                            <p class="property-price">250.000 FCFA/<span>mois</span></p>
                        </div>
                        <h3><a routerLink="/listing-details">Programmes villes neuves</a></h3>
                        <p><i class="flaticon-location"></i>Almadies 2, Keur Massar - Rufisque</p>
                        <ul class="property-metainfo list-style">
                            <li><i class="flaticon-double-bed"></i>04</li>
                            <li><i class="flaticon-bath-tub"></i>04</li>
                            <li><i class="flaticon-square"></i>1400 m<sup>2</sup></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>