<div class="advantage-wrap pt-50" id="programs">
    <div class="w-100">
        <div class="section-title style1 text-center w-100 mb-40">
            <div class="main-bg-title">
                <!-- <sup>AK</sup> -->
                <h2 id="main-title">AVANTAGES</h2>
                
            </div>
            <!-- <div class="sec-bg-title">
                <h4 class="secondary-title">2000<sub>FCFA</sub></h4>
            </div> -->
            <div class="content ptb-40">
                <p class="text-center">Le projet DIASS SAFI se situe dans une zone stratégique</p>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 av-item">
                        <img src="../../../../assets/img/about/aibd.jfif" alt="">
                        <h4>AIBD</h4>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 av-item">
                        <img src="../../../../assets/img/about/port-ndayane.jpg" alt="">
                        <h4>Port de Ndayane</h4>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 av-item">
                        <img src="../../../../assets/img/about/zesid.png" alt="">
                        <h4>ZESID</h4>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 av-item">
                        <img src="../../../../assets/img/about/dakar.png" alt="">
                        <h4>A ~ 70 KM de Dakar</h4>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 av-item">
                        <img src="../../../../assets/img/about/agor-business.jpg" alt="">
                        <h4>Kir&egrave;ne agro-business</h4>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 av-item">
                        <img src="../../../../assets/img/about/mbour.webp" alt="">
                        <h4>Mbour</h4>
                    </div>
                    <!-- <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 av-item">
                        <img src="../../../../assets/img/about/mbour.webp" alt="">
                        <h4>Diamniadio</h4>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="row justify-content-justify main-bg-section">
            <div class="col-9 mt-10 container">
                <h4>Vision de sartorisen casa</h4>
                <!-- <p>
                    Avec l'envie de faire face à la situation de manque de logement, combiné à la forte demande boostée par l'accroissement de la population
                    ainsi que l'attractivité du Sénégal, la <strong>SARTORISEN </strong> vous met en place un système de cotisation appelé <strong>NATT-K&Euml;R</strong>
                    qui vous permet, à partir de <strong>2000 FCFA</strong> par  jour de <strong> <q>CONSTRUIRE VOTRE MAISON</q> </strong>
                </p> -->
                <div class="vision-content">
                    <strong class="pt-30">Elle s’articule autour du développement économique et social
                    par :  </strong> 
                    <ul class="content-feature-list list-style pt-20">
                        <li>
                            <i class="flaticon-checked"></i> Le développement
                            des infrastructures sociales de base
                        </li>
                        <li>
                            <i class="flaticon-checked"></i>L’attractivité
                            territoriale par la promotion des potentialités des
                            collectivités territoriales
                        </li>
                        <li>
                            <i class="flaticon-checked"></i>L’appui au
                            financement de projets porteurs de croissance
                            économique et de création d’emplois
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-title style1 text-center mb-40 pt-40">
            <div class="sec-bg-title mb-20">
                <h4 class="secondary-title">Kuné ak sa K&Euml;R</h4>
            </div>
        </div>
        <div class="row justify-content-justify white-bg-section">
            <div
                class="col-lg-10 col-md-11 col-sm-12 col-xs-12 text-justify mt-10 container"
            >
                <div class="row programs-container">
                    <div
                        class="col-lg-4 col-md-3 col-sm-12 col-xs-12"
                        *ngFor="let program of programs"
                    >
                        <div class="card">
                            <img src="{{ program?.main_image }}" alt="" />
                            <div class="card-content">
                                <h4 class="title">
                                    {{ program?.name }} à
                                    <span
                                        >{{
                                            program?.solde | number
                                        }}
                                        FCFA</span
                                    >
                                </h4>
                                <p class="location">
                                    <i class="ri-map-pin-4-fill"></i>
                                    {{ program?.location }}
                                </p>
                                <p class="amount">
                                    Avec
                                    <span>{{
                                        program?.minimum_save | number
                                    }}</span
                                    >/jour pendant
                                    <span>{{ program?.duration }}</span> mois
                                </p>
                                <div
                                    class="description-html"
                                    [innerHTML]="program?.description"
                                ></div>
                                <div class="button">
                                    <button
                                        class="subscribe-button"
                                        (click)="goToListing(program)"
                                    >
                                        S'inscrire
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-title style1 text-center mb-40 pt-40">
            <!-- <div class="sec-bg-title mb-20">
                <h4 class="secondary-title">Kuné ak sa K&Euml;R</h4>
            </div> -->
            <!-- <div class="payment-logo">
                <h4>Nos partenaires</h4>
                <div class="row partners-logo">
                    <div class="col logo" *ngFor="let logo of partnersLogo">
                        <img src="{{ logo }}" alt="" />
                    </div>
                </div>
            </div> -->
            <div class="d-flex ptb-40">
                <button class="main-contact-btn" (click)="openModalContact()">
                    CONTACTS
                </button>
            </div>
        </div>
    </div>
</div>
