@mixin transform($tr_amt) {
    -webkit-transform: $tr_amt;
    -moz-transform: $tr_amt;
    transform: $tr_amt;
}
.section-title{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    .main-bg-title{
        background: var(--clr_pome);
        text-transform: uppercase;
        color: #fff;
        padding: 10px 40px 30px 40px;
        box-shadow: 5px 4px 8px #00000082;
        // width: 300px;
        position: relative;
        &::before{
            content: "";
            width: 60px;
            height: 90px;
            background: var(--clr_pome);
            left: -20px;
            bottom: -20px;
            z-index: -1;
            position: absolute;
        }
        &::after{
            content: "";
            width: 180px;
            height: 30px;
            background: var(--clr_reso);
            position: absolute;
            right: -40px;
            bottom: -5px;
            z-index: -1;
        }
        sup{
            top: 5px;
            font-size: 2em;
            font-weight: 800;
        }
        #main-title{
            font-weight: 800;
            width: fit-content;
            position: relative;
            z-index: 2;
            color: #fff;
            &::before{
                content: "";
                width: 100px;
                height: 4px;
                background: #fff;
                bottom: -2px;
                z-index: -1;
                position: absolute;
                left: calc(50% - 50px);
            }
        }
        
    }
    .content{
        padding-top: 40px;
        .av-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding-top: 20px;
            cursor: pointer;
            img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
                border: 2px solid var(--clr_reso);
            }
            h4{
                font-size: 0.8em;
            }
        }
        
    }
    
    .sec-bg-title{
        background-color: #fff;
        box-shadow: 0px 1px 10px #00000082;
        z-index: 9;
        margin-top: -10px;
        padding: 5px 20px;
        position: relative;
        &::before{
            content:'';
            position: absolute;
            top: 0; 
            right: 0px;
            width:40px; 
            height:100%;
            background-color: #fff;
            -webkit-transform-origin:100% 100%;
            -ms-transform-origin:100% 100%;
            transform-origin:100% 100%;
            -webkit-transform:skewX(30deg);
            -ms-transform:skewX(30deg);
            transform:skewX(-25deg);
            z-index: -1;
        }
        &::after{
            content:'';
            position: absolute;
            top: 0; 
            left: -40px;
            width: 40px; 
            height:100%;
            background-color: #fff;
            -webkit-transform-origin:100% 100%;
            -ms-transform-origin:100% 100%;
            transform-origin:100% 100%;
            -webkit-transform:skewX(30deg);
            -ms-transform:skewX(30deg);
            transform:skewX(-25deg);
            z-index: -1;
            box-shadow: -5px 10px 10px -10px rgba(0, 0, 0, 0.5);
        }
        .secondary-title{
            font-size: 3em;
            color: var(--clr_reso);
            sub{
                font-size: 16px;
            }
        }
    }
}
.main-bg-section{
    padding: 50px 30px;
    border-radius: 4px;
    h4,
    p{
        color: #fff;
    }
    h4{
        font-size: 28px;
        font-weight: 700;
    }
    p{
        font-size: 20px;
    }
    
}
.white-bg-section{
    padding: 40px 20px;
    li{
        list-style: none;
        font-size: 20px;
        line-height: 50px;
        i{
            font-size: 1.4em;
        }
    }
    .programs-container{
        .card{
            background: #fff;
            border-radius: 15px;
            overflow: hidden;
            border: 4px solid #fff;
            cursor: pointer;
            height: 100%;
            img{
                width: 100%;
                height: 210px;
                object-fit: cover;
            }
            .card-content{
                padding: 20px;
                p{
                    margin-bottom: 0;
                    font-size: 14px;
                }
                .title{
                    font-size: 16px;
                    span{
                        color: var(--clr_pome);
                    }
                }
                .location{
                    width: fit-content;
                    padding: 2px 10px;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                    i{
                        color: var(--clr_pome); 
                    }
                }
                .amount{
                    span{
                        color: var(--clr_reso);
                    }
                }
                .button{
                    text-align: center;
                    width: 100%;
                    padding-top: 10px;
                    .subscribe-button{
                        background-color: var(--clr_pome);
                        padding: 5px 20px;
                        border-radius: 8px;
                        border: 2px solid #fff;
                        width: calc(100% - 40px);
                        color: #fff;
                    }
                }
                
            }
        }
    }
}
.payment-logo{
    padding: 30px 20px;
    h4{
        margin-bottom: 20px;
    }
    .partners-logo{
        justify-content: space-around;
        .logo{
            img{
                width: 100%;
                height: 80px;
                object-fit: contain;
                margin: auto;
            }
        }
    }
}

.adv-card {
    margin: 0 0 25px;

    .adv-img {
        z-index: 1;
        position: relative;
        margin-bottom: 35px;

        &:after {
            top: 50%;
            left: 50%;
            content: "";
            z-index: -1;
            width: 215px;
            height: 215px;
            position: absolute;
            border-radius: 50%;
            background-color: #fdebe9;
            @include transform(translate(-50%,-50%));
        }
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .adv-info {
        text-align: center;
        padding: 0 30px;

        h3 {
            font-size: 22px;
            margin: 0 0 12px;
        }
        p {
            margin: 0;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .adv-card {
        .adv-img {
            margin-bottom: 25px;
        }
        .adv-info {
            padding: 0;
    
            h3 {
                font-size: 17px;
                margin: 0 0 10px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .adv-card {
        .adv-img {
            margin-bottom: 30px;
        }
        .adv-info {
            padding: 0;
    
            h3 {
                font-size: 20px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .adv-card {
        .adv-info {
            padding: 0;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}