<!-- Default Section -->
<div
    class="property-slider-wrap ptb-100"
    [ngClass]="{'d-none': router.url === '/index-3'}"
>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="section-title style1 text-center mb-40">
                    <span>Recently Available</span>
                    <h2>Easy Price For Home Owners</h2>
                </div>
            </div>
        </div>
        <div class="property-slider-one style1">
            <owl-carousel-o [options]="propertySlidesOne">
                <ng-template carouselSlide>
                    <div class="property-card style3">
                        <div class="property-img">
                            <img src="assets/img/property/property-26.jpg" alt="Image">
                            <span class="property-status">For Rent</span>
                            <span class="property-condo">New</span>
                        </div>
                        <div class="property-info">
                            <div class="property-status-wrap">
                                <span class="property-state"><i class="flaticon-home"></i>House</span>
                                <p class="property-price">$24,900/<span>month</span></p>
                            </div>
                            <h3><a routerLink="/listing-details">Morningside Apartment</a></h3>
                            <p><i class="flaticon-location"></i>2983 Edwards Street, North Carolina</p>
                            <ul class="property-metainfo list-style">
                                <li><i class="flaticon-double-bed"></i>04</li>
                                <li><i class="flaticon-bath-tub"></i>04</li>
                                <li><i class="flaticon-square"></i>1400 sqft</li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="property-card style3">
                        <div class="property-img">
                            <img src="assets/img/property/property-27.jpg" alt="Image">
                            <span class="property-status">For Rent</span>
                            <span class="property-condo">New</span>
                        </div>
                        <div class="property-info">
                            <div class="property-status-wrap">
                                <span class="property-state"><i class="flaticon-home"></i>Unit</span>
                                <p class="property-price">$29,000/<span>month</span></p>
                            </div>
                            <h3><a routerLink="/listing-details">Duplex Villa</a></h3>
                            <p><i class="flaticon-location"></i>824 Gateway Avenue, California</p>
                            <ul class="property-metainfo list-style">
                                <li><i class="flaticon-double-bed"></i>05</li>
                                <li><i class="flaticon-bath-tub"></i>04</li>
                                <li><i class="flaticon-square"></i>1200 sqft</li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="property-card style3">
                        <div class="property-img">
                            <img src="assets/img/property/property-28.jpg" alt="Image">
                            <span class="property-status">For Rent</span>
                            <span class="property-condo">New</span>
                        </div>
                        <div class="property-info">
                            <div class="property-status-wrap">
                                <span class="property-state"><i class="flaticon-home"></i>Apartment</span>
                                <p class="property-price">$34,900/<span>month</span></p>
                            </div>
                            <h3><a routerLink="/listing-details">Sky villa Apartment</a></h3>
                            <p><i class="flaticon-location"></i>64, 1st Aveneu, High Steet, USA</p>
                            <ul class="property-metainfo list-style">
                                <li><i class="flaticon-double-bed"></i>06</li>
                                <li><i class="flaticon-bath-tub"></i>04</li>
                                <li><i class="flaticon-square"></i>310 sqft</li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="property-card style3">
                        <div class="property-img">
                            <img src="assets/img/property/property-25.jpg" alt="Image">
                            <span class="property-status">For Rent</span>
                            <span class="property-condo">New</span>
                        </div>
                        <div class="property-info">
                            <div class="property-status-wrap">
                                <span class="property-state"><i class="flaticon-home"></i>House</span>
                                <p class="property-price">$14,900/<span>month</span></p>
                            </div>
                            <h3><a routerLink="/listing-details">Apartment For Rent</a></h3>
                            <p><i class="flaticon-location"></i>989 Upton Avenue, Mailne</p>
                            <ul class="property-metainfo list-style">
                                <li><i class="flaticon-double-bed"></i>06</li>
                                <li><i class="flaticon-bath-tub"></i>04</li>
                                <li><i class="flaticon-square"></i>310 sqft</li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- Section for Home Demo - 3 -->
<div
    class="property-slider-wrap bg-seashell td-cod ptb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title style2 text-center mb-40">
            <span>RECENTLY AVAILABLE</span>
            <h2>Easy Price For Home Owners</h2>
        </div>
        <div class="property-slider-one">
            <owl-carousel-o [options]="propertySlidesOne">
                <ng-template carouselSlide>
                    <div class="property-card style6">
                        <div class="property-img">
                            <img src="assets/img/property/property-25.jpg" alt="Image">
                            <span class="property-status">For Rent</span>
                            <span class="property-condo">New</span>
                        </div>
                        <div class="property-info">
                            <div class="property-status-wrap">
                                <span class="property-state"><i class="flaticon-home"></i>House</span>
                                <p class="property-price">$14,900/<span>month</span></p>
                            </div>
                            <h3><a routerLink="/listing-details">Luxury Villa</a></h3>
                            <p><i class="flaticon-location"></i>989 Upton Avenue, Mailne</p>
                            <ul class="property-metainfo list-style">
                                <li><i class="flaticon-double-bed"></i>06</li>
                                <li><i class="flaticon-bath-tub"></i>04</li>
                                <li><i class="flaticon-square"></i>3100 sqft</li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="property-card style6">
                        <div class="property-img">
                            <img src="assets/img/property/property-1.jpg" alt="Image">
                            <span class="property-status">For Rent</span>
                            <span class="property-condo">New</span>
                        </div>
                        <div class="property-info">
                            <div class="property-status-wrap">
                                <span class="property-state"><i class="flaticon-home"></i>Apartment</span>
                                <p class="property-price">$34,900/<span>month</span></p>
                            </div>
                            <h3><a routerLink="/listing-details">Lake View Apartment</a></h3>
                            <p><i class="flaticon-location"></i>124, 1st Aveneu, High Steet, USA</p>
                            <ul class="property-metainfo list-style">
                                <li><i class="flaticon-double-bed"></i>07</li>
                                <li><i class="flaticon-bath-tub"></i>04</li>
                                <li><i class="flaticon-square"></i>1200 sqft</li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="property-card style6">
                        <div class="property-img">
                            <img src="assets/img/property/property-2.jpg" alt="Image">
                            <span class="property-status">For Rent</span>
                            <span class="property-condo">New</span>
                        </div>
                        <div class="property-info">
                            <div class="property-status-wrap">
                                <span class="property-state"><i class="flaticon-home"></i>Apartment</span>
                                <p class="property-price">$24,000/<span>month</span></p>
                            </div>
                            <h3><a routerLink="/listing-details">Apartment For Rent</a></h3>
                            <p><i class="flaticon-location"></i>989 Upton Avenue, Mailne</p>
                            <ul class="property-metainfo list-style">
                                <li><i class="flaticon-double-bed"></i>06</li>
                                <li><i class="flaticon-bath-tub"></i>04</li>
                                <li><i class="flaticon-square"></i>2210 sqft</li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="property-card style6">
                        <div class="property-img">
                            <img src="assets/img/property/property-26.jpg" alt="Image">
                            <span class="property-status">For Rent</span>
                            <span class="property-condo">New</span>
                        </div>
                        <div class="property-info">
                            <div class="property-status-wrap">
                                <span class="property-state"><i class="flaticon-home"></i>House</span>
                                <p class="property-price">$24,900/<span>month</span></p>
                            </div>
                            <h3><a routerLink="/listing-details">Morningside Apartment</a></h3>
                            <p><i class="flaticon-location"></i>2983 Edwards Street, North Carolina</p>
                            <ul class="property-metainfo list-style">
                                <li><i class="flaticon-double-bed"></i>04</li>
                                <li><i class="flaticon-bath-tub"></i>04</li>
                                <li><i class="flaticon-square"></i>1400 sqft</li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="property-card style6">
                        <div class="property-img">
                            <img src="assets/img/property/property-27.jpg" alt="Image">
                            <span class="property-status">For Rent</span>
                            <span class="property-condo">New</span>
                        </div>
                        <div class="property-info">
                            <div class="property-status-wrap">
                                <span class="property-state"><i class="flaticon-home"></i>Unit</span>
                                <p class="property-price">$29,000/<span>month</span></p>
                            </div>
                            <h3><a routerLink="/listing-details">Duplex Villa</a></h3>
                            <p><i class="flaticon-location"></i>824 Gateway Avenue, California</p>
                            <ul class="property-metainfo list-style">
                                <li><i class="flaticon-double-bed"></i>05</li>
                                <li><i class="flaticon-bath-tub"></i>04</li>
                                <li><i class="flaticon-square"></i>1200 sqft</li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="property-card style6">
                        <div class="property-img">
                            <img src="assets/img/property/property-28.jpg" alt="Image">
                            <span class="property-status">For Rent</span>
                            <span class="property-condo">New</span>
                        </div>
                        <div class="property-info">
                            <div class="property-status-wrap">
                                <span class="property-state"><i class="flaticon-home"></i>Apartment</span>
                                <p class="property-price">$34,900/<span>month</span></p>
                            </div>
                            <h3><a routerLink="/listing-details">Sky villa Apartment</a></h3>
                            <p><i class="flaticon-location"></i>64, 1st Aveneu, High Steet, USA</p>
                            <ul class="property-metainfo list-style">
                                <li><i class="flaticon-double-bed"></i>06</li>
                                <li><i class="flaticon-bath-tub"></i>04</li>
                                <li><i class="flaticon-square"></i>310 sqft</li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>