<div class="hero-wrap style3">
    <div class="hero-slider-two">
        <owl-carousel-o [options]="heroSlidesTwo">
            <ng-template carouselSlide>
                <div class="hero-slide-item bg-f" style="background-image: url(assets/img/hero/hero-slider-4.jpg);"></div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="hero-slide-item bg-f" style="background-image: url(assets/img/hero/hero-slider-5.jpg);"></div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="hero-slide-item bg-f" style="background-image: url(assets/img/hero/hero-slider-6.jpg);"></div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="hero-content">
        <div class="row">
            <div class="col-xxl-8 offset-xxl-2 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
                <h1> <span class="primary-color">NATT</span>-K&Euml;R <br> Sa keur si lou yomb</h1>
                <!-- <p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis sem nibh id elit Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
                <form class="property-search-form">
                    <div class="form-group-wrap">
                        <div class="form-group">
                            <input type="text" placeholder="Location">
                        </div>
                        <div class="form-group">
                            <select>
                                <option value="0">Prix</option>
                                <option value="1">10.000 XOF - 100.000 XOF</option>
                                <option value="2">100.000 XOF - 1.000000 XOF</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select>
                                <option value="0">Superficie</option>
                                <option value="1">150 m2</option>
                                <option value="2">225 m2</option>
                                <option value="3">300 m2</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn style2">Recherche</button>
                </form>
                <!-- <div class="client-feedback">
                    <ul class="list-style">
                        <li><a routerLink="/testimonials"><img src="assets/img/clients/client-1.jpg" alt="Image"></a></li>
                        <li><a routerLink="/testimonials"><img src="assets/img/clients/client-2.jpg" alt="Image"></a></li>
                        <li><a routerLink="/testimonials"><img src="assets/img/clients/client-3.jpg" alt="Image"></a></li>
                        <li><a routerLink="/testimonials"><img src="assets/img/clients/client-4.jpg" alt="Image"></a></li>
                    </ul>
                    <span>29k Positive Review</span>
                </div> -->
            </div>
        </div>
    </div>
</div>