<div class="partner-wrap ptb-100">
    <div class="container">
        <div class="partner-slider">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide *ngFor="let partner of partners">
                    <div class="partner-item">
                        <img src="../../../../assets/img/partner/{{partner?.logo}}" alt="{{partner?.name}}">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>