@mixin transition($time) {
    -webkit-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}
.partner-item {
    text-align: center;
    
    img {
        opacity: 0.8;
        display: block;
        margin: 0 auto;
        max-width: 150px;
        filter:grayscale(5%);
        @include transition(0.4s);
        height: 200px;
        object-fit: contain;
        // width: 100%;
    }
    &:hover {
        img {
            filter: grayscale(0);
            opacity: 1;
        }
    }
}