<!-- Breadcrumb -->
<div class="breadcrumb-wrap bg-f br-2" style="background-image: url(assets/img/about/slide-5.jpg);">
    <div class="container">
        <div class="breadcrumb-title">
            <h2>Diass Saafi</h2>
            <ul class="breadcrumb-menu list-style">
                <li><a routerLink="/">Accueil </a></li>
                <li>Diass Saafi</li>
            </ul>
        </div>
    </div>
</div>

<!-- About -->
<div class="about-wrap style3 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="section-title style2 text-center mb-40">
                    <span>A propos</span>
                    <app-sort-description></app-sort-description>
                    <app-strategique-card></app-strategique-card>
                </div>
            </div>
        </div>
        <div class="about-img-wrap">
            <div class="row">
                <div class="col-5">
                    <div class="about-bg-2 bg-f" style="background-image: url(assets/img/about/about-img-4.jpg);"></div>
                </div>
                <div class="col-4">
                    <div class="about-bg-3 bg-f" style="background-image: url(assets/img/about/about-img-5.jpg);"></div>
                </div>
                <div class="col-3">
                    <div class="about-bg-4 bg-f" style="background-image: url(assets/img/about/about-img-6.jpg);"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-advantage></app-advantage>

<app-video></app-video>

<div class="bg-white">
    <app-funfacts></app-funfacts>
</div>

<app-testimonials></app-testimonials>

<app-partner></app-partner>