.terms-wrap {
    p {
        margin-bottom: 15px;
        
        strong {
            color: var(--clr_black);
        }
        a {
            color: var(--clr_pome);

            &:hover {
                text-decoration: underline;
                color: var(--clr_pome);
            }
        }
    }
    h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }
    h3 {
        font-size: 26px;
        margin-bottom: 15px;
    }
    h4 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    h5 {
        font-size: 22px;
        margin-bottom: 15px;
    }
    h6 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    ol {
        margin: {
            top: 20px;
            bottom: 25px;
        };
        li {
            color: var(--clr_emperor);
            margin-bottom: 15px;
            padding-left: 3px;
        }
    }
    .content-feature-list {
        margin: 25px 0 25px;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .terms-wrap {
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 22px;
        }
        h3 {
            font-size: 20px;
        }
        h4 {
            font-size: 18px;
        }
        h5 {
            font-size: 16px;
        }
        h6 {
            font-size: 14px;
        }
        ol {
            margin: {
                top: 15px;
                bottom: 15px;
            };
            li {
                margin-bottom: 10px;
            }
        }
        .content-feature-list {
            margin: 15px 0 15px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .terms-wrap {
        h1 {
            font-size: 28px;
            margin-bottom: 15px;
        }
        h2 {
            font-size: 26px;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 24px;
            margin-bottom: 15px;
        }
        h4 {
            font-size: 22px;
            margin-bottom: 15px;
        }
        h5 {
            font-size: 18px;
            margin-bottom: 15px;
        }
        h6 {
            font-size: 16px;
            margin-bottom: 15px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}