@mixin transition($time) {
    -webkit-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}
%flex_column_center {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
%flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.contact-item {
    z-index: 1;
    padding: 25px;
    border-radius: 0;
    position: relative;
    text-align: center;
    margin: 45px 0 25px;
    @include transition(0.4s);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);

    .contact-icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
        margin: -70px auto 25px;
        @include transition(0.4s);
        @extend %flex_column_center;
        background-color: var(--clr_pome);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

        i {
            font-size: 35px;
            line-height: 0.8;
            position: relative;
            color: var(--clr_white);
            @include transition(0.34s);
        }
    }
    .contact-info {
        @include transition(0.3s);

        h3 {
            font-size: 22px;
            margin: 0 0 12px;
            @include transition(0.3s);
        }
        a, p {
            margin: 0;
            display: block;
            line-height: 1.5;
            color: var(--clr_emperor);
            @include transition(0.3s);
        }
    }
    &:hover {
        .contact-icon {
            background-color: var(--clr_reso);

            i {
                color: var(--clr_white);
            }
        }
    }
}
#contactForm {
    .form-group {
        margin: 0 0 20px;

        input, textarea {
            width: 100%;
            border: none;
            transition: .5s;
            padding: 10px 15px;
            border-radius: 5px;
            background: var(--clr_seashell);
            border: 1px solid rgba(0, 0, 0, 0.09);
            
            &:focus {
                border-color: var(--clr_reso);
            }
        }
        input {
            height: 60px;
        }
        textarea {
            resize: none;
            height: 150px;
            padding-top: 15px;
        }
    }
}
.contact-content {
    .content-title {
        margin-bottom: 30px;
    }
    .social-profile {
        li {
            a {
                width: 50px;
                height: 50px;
                box-shadow: none;
                background-color: var(--clr_seashell);

                i {
                    color: var(--clr_reso);
                    font-size: 20px;
                }
            }
        }
    }
}
.btn.disabled {
    opacity: 1;
}
.checkbox {
    display: block;

    &.form-check{
        padding-left: 0;
    }
    input {
        padding: 0;
        display: none;
        width: initial;
        cursor: pointer;
        height: initial;
        margin-bottom: 0;
    }
    label {
        position: relative;
        padding-left: 20px;
        cursor: pointer;

        &:before {
            border: 1px solid var(--clr_pome);
            background-color: transparent;
            -webkit-appearance: none;
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            position: absolute;
            margin-right: 5px;
            cursor: pointer;
            height: 15px;
            width: 15px;
            content: "";
            top: 5px;
            left: 0;
        }
    }
    a {
        color: var(--clr_pome);
    }
    &.style2 {
        label {
            &:before {
               border-radius: 50%;
               border-color: var(--clr_gray); 
            }
        }
    }
}
.checkbox input:checked + label:before {
   border-color: var(--clr_pome);
}
.checkbox input:checked + label:after {
    top: 8px;
    left: 3px;
    width: 9px;
    content: "";
    height: 9px;
    border: none;
    display: block;
    position: absolute;
    background: var(--clr_pome);
}
.checkbox.style2 input:checked + label:after {
    top: 8px;
    left: 3px;
    width: 9px;
    height: 9px;
    content: "";
    border: none;
    display: block;
    position: absolute;
    background: var(--clr_pome);
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .contact-item {
        padding: 25px 15px 18px;
        margin: 25px 0 25px;
    
        .contact-icon {
            width: 60px;
            height: 60px;
            margin: -50px auto 20px;
    
            i {
                font-size: 25px;
            }
        }
        .contact-info {
            h3 {
                font-size: 18px;
                margin: 0 0 10px;
            }
        }
    }
    #contactForm {
        .form-group {
            margin: 0 0 20px;
    
            input, textarea {
                padding: 10px 12px;
            }
            input {
                height: 50px;
            }
            textarea {
                resize: none;
                height: 120px;
                padding-top: 12px;
            }
        }
    }
    .contact-content {
        margin-bottom: 25px;

        .content-title {
            margin-bottom: 15px;

            p {
                margin: 10px 0 0;
            }
        }
        .social-profile {
            li {
                a {
                    width: 45px;
                    height: 45px;
    
                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .contact-item {
        padding: 25px 20px 20px;
        margin: 25px 0 25px;

        .contact-icon {
            width: 70px;
            height: 70px;
            margin: -50px auto 20px;

            i {
                font-size: 35px;
            }
        }
        .contact-info {
            h3 {
                font-size: 20px;
            }
        }
    }
    .contact-content {
        margin-bottom: 25px;

        .content-title {
            margin-bottom: 20px;
        }
        .social-profile {
            li {
                a {
                    width: 45px;
                    height: 45px;

                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .contact-item {
        padding: 25px 15px;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}